:root {
    --azul-destaque: #2a7ae4;
    --texto-suave: #464646;   
    --azul--suave: #eaf2fd;
    --placeholder: #A2A2A2;
}

.app{
    font-family: raleway;
    background-color: #E5E5E5;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
}

.cabecalho{
    width: 100vw;
    grid-area: cabecalho;
    background-color: #ffffff;
    align-items: center;
    display: flex;
}

.conteudo{
    width: 100vw;
    grid-area: conteudo;
}

.rodape{
    width: 100vw;
    grid-area: rodape;
    padding: 32px;
    text-align: center;
    background-color: #ffffff;
}